# OpenWeatherMap API
OWM_API_KEY=

# Telegram API credentials
API_ID=
API_HASH=

# Telegram Bot credentials
BOT_ID=
BOT_TOKEN=

# Personal Telegram account
MY_ID=

# Chat and channel IDs
ADMIN_CHAT_ID=